fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.1
pytube==15.0.0
deepgram-sdk==3.10.1
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
sse-starlette==2.0.0
aiofiles==23.2.1
python-multipart==0.0.9 
yt-dlp==2025.2.19
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.0